/*GLOBAL*/
body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


/*MAIN STYLES*/
.header .nav-link {
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.navbar-brand {
    font-size: 20px;
}

.navbar-brand img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.header .nav-item.item-active a {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.header .nav-item .nav-link:hover {
    color: #070707;
}

/*SECTION ABOUT*/
.about .about-box {
    border-top: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.about .col-2 {
    padding: 0;
}

.about .col.picture-block {
    padding: 0;
}

.pr-name {
    font-weight: normal;
    font-size: 47px;
    line-height: 59px;
    color: #070707;
}

.pr-proffession {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.pr-leng {
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.pr-leng span {
    font-weight: bold;
    color: #070707;
}

/*SECTION INFO*/
.info {
    padding: 120px 0;
    background-color: #F6F6F6;
    margin-top: 104px;
}

.info__title,
.skills__title,
.footer__title,
.gallery__title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 18px;
}

.info__text,
.skills__text,
.footer__text,
.gallery__text,
.about-me__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

/*SECTION SKILLS*/
.skills {
    padding: 110px 0;
}

.skills img {
    width: 88px;
    height: 88px;
}

.skills .figma img {
    width: 58px;
}

/*FOOTER*/
.footer {
    padding: 115px 0;
}

.btn.footer-btn {
    border-radius: 50px;
    padding: 10px 30px;
    margin-bottom: 60px;
}

.footer__subtext {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

/*GALLERY PAGE*/
.gallery img {
    width: 275px;
    height: 180px;
}

/*ABOUT ME PAGE*/
.about-me__item {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}